@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Parkisans", sans-serif;
    background-color: #000;
}

nav {
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    padding: 10px 0;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vw;
    gap: 12px;
}

.dots i {
    font-size: 22px;
    color: #fff;
}

.dots i:hover {
    cursor: pointer;
}

.dots i:nth-child(3) {
    color: gray;
}

.search {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    gap: 15px;
}

.search input {
    background: none;
    border: none;
    font-size: 17px;
    color: #fff;
}

.search input::placeholder {
    color: lightgray;
}

.house {
    color: #fff;
    background-color: #333;
    padding: 7px;
    border-radius: 50%;
    font-size: 22px;
}

.house:hover {
    cursor: pointer;
}

.searchBar {
    display: flex;
    gap: 10px;
    background-color: #333;
    border-radius: 100px;
    width: 400px;
    padding: 18px;
    font-weight: bold;
    color: gray;
}

.icons {
    width: 13vw;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 50px;
    gap: 10px;
}

.discover {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 70px;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 13px;
}

.discover:hover {
    cursor: pointer;
}

.icons i:hover {
    cursor: pointer;
}

.library {
    height: 800px;
    width: 100px;
    display: grid;
    grid-template-columns: 20px;
    padding: 10px;
    background-color: #333;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.library i {
    font-size: 55px;
    padding-left: 10px;
    color: lightgray;
}

.library img {
    width: 65px;
    height: 65px;
    border-radius: 15px;
}

.container {
    display: grid;
    grid-template-columns: 6% 94%;
}

.container main {
    background-color: #333;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.baner {
    background: #000000;
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(31, 31, 31, 1) 50%, rgba(89, 89, 89, 1) 100%, rgba(237, 221, 83, 1) 100%);
    height: 350px;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.baner h1 {
    color: #fff;
    font-size: 75px;
    padding-left: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.baner p {
    color: #fff;
    font-weight: 500;
    padding-left: 20px;
}

.btnsWrap {
    margin-left: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.btnsWrap i {
    color: #fff;
}

.baner button:nth-of-type(1) {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 70px;
    background-color: #1DB954;
    color: #000;
    font-weight: bold;
    border: none;
}

.baner button:nth-of-type(2) {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 70px;
    border: 1px solid lightgray;
    background: none;
    color: #fff;
}